[project]
	description = Food Bot for slack
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Arielle Nguyen (ariellephan)
[access "refs/for/refs/*"]
	read = group user/Arielle Nguyen (ariellephan)
	push = group user/Arielle Nguyen (ariellephan)
	label-Code-Review = -2..+2 group user/Arielle Nguyen (ariellephan)
	label-Verified = -1..+1 group user/Arielle Nguyen (ariellephan)
	rebase = group user/Arielle Nguyen (ariellephan)
	removeReviewer = group user/Arielle Nguyen (ariellephan)
	submit = group user/Arielle Nguyen (ariellephan)
[access "refs/heads/*"]
	read = group user/Arielle Nguyen (ariellephan)
	create = group user/Arielle Nguyen (ariellephan)
	push = +force group user/Arielle Nguyen (ariellephan)
	pushMerge = group user/Arielle Nguyen (ariellephan)
[access "refs/tags/*"]
	push = +force group user/Arielle Nguyen (ariellephan)
	pushTag = group user/Arielle Nguyen (ariellephan)
	pushSignedTag = group user/Arielle Nguyen (ariellephan)
